.map {
    height: 400px;
    width: 100vw;
    height: 100vh;

    .gm-style {
        img {
            max-width: 100%;
        }
    }

}

.info-box-custom {
    text-align: center;
    margin: 0;
    padding: 1em;
    height: auto;
    &__title {
        font-weight: 500;
        font-size: 2rem;
    }
}

.gm-style-iw {
    width: 350px !important;
    top: 15px !important;
    background: rgba($lightest, .6);
    box-shadow: 3px 3px 16px rgba($lightest, .6);
    border: 1px solid $darkest;
    border-radius: .5em;
}

.gmap-close-btn {
    color: $darkest;
    width: 2em !important;
    height: 2em !important;
    border-radius: 100%;
}